// Material icons
@import url('https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|');

// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}