@import '../theme';
@import '../mixins';

html, body {
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  color: $white;
  background: $background;
}

body {
    @include roboto-regular();
}

h1, h2, h3, h4, h5, h6, p, span {
    @include wrap-text();
}

h1 {
    font-size: 4.0rem;
}

h2 {
    font-size: 3.6rem;
}

h3 {
    font-size: 3.2rem;
}

h4 {
    font-size: 2.8rem;
}

h5 {
    font-size: 2.4rem;
}

h6 {
    font-size: 2rem;
}

*, *:before, *:after {
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
