@import 'src/styles/variables';

section {
    height: calc(100% - 56px);
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    display: grid;
    justify-items: center;

    @media screen and (min-width: $lisa) {
        height: calc(100% - 64px);
    }
}

section article {
    display: grid;
    grid-template-columns: 300px;
    column-gap: 12px;
    grid-template-rows: repeat(4, min-content);
    row-gap: 12px;
    margin: 12px 0;
    
    @media screen and (min-width: $lisa) {
        grid-template-columns: 450px;
    }

    @media screen and (min-width: $bart) {
        grid-template-columns: 760px;
    }

    p {
        line-height: 20px;
    }
}