<app-navigation></app-navigation>

<section>
    <article *ngIf="isLoading && !post">
        Loading...
    </article>

    <article *ngIf="!isLoading && post">
        <h1>{{post.Title}}</h1>
        <h6>{{post.AuthorName}}</h6>
        <p>{{post.UpdatedAt | date:dateFormat}}</p>

        <p>{{post.Content}}</p>
    </article>

    <article *ngIf="!isLoading && hasErrored">
        <h5>💩 post not found 💩</h5>
    </article>
</section>