<div *ngIf="data?.type === 'error'" class="error-class">
    <span translate>{{ data.message }}</span>
</div>
<div *ngIf="data?.type === 'success'" class="success-class">
    <span translate>{{ data.message }}</span>
</div>