.error-class,
.success-class {
    text-align: center;
    padding: 0.5rem 1.2rem;
    border-radius: 3px;

    i {
        vertical-align: middle;
    }

    span {
        vertical-align: middle;
    }
}

.error-class {
    background-color: #f44336;
    color: white;
}

.success-class {
    background-color: #69f0ae;
    color: rgba(0, 0, 0, 0.87);
}

::ng-deep .mat-snack-bar-container {
    background-color: transparent;
    box-shadow: none;
}