$black: #212121;
$dark-gray: #424242;
$gray: #888;
$light-gray: #bbb;
$white: #fff;

$background: #303030;
$primary: #B85AFD;
$secondary: #FC6DAB;
$link: #b85afd;

$success: #15C272;
$error: #F81C69;
