// Fonts
@mixin roboto() {
    font-family: 'Roboto', sans-serif;
}

@mixin roboto-light() {
    @include roboto();
    font-weight: 300;
}

@mixin roboto-regular() {
    @include roboto();
    font-weight: 400;
}

@mixin roboto-medium() {
    @include roboto();
    font-weight: 500;
}

@mixin roboto-bold() {
    @include roboto();
    font-weight: 700;
}

// Text
@mixin wrap-text {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
}
