<section class="login">
    <form [formGroup]="form" (ngSubmit)="handleSubmit()">
        <mat-card>
            <mat-card-title>
                Newsletter
            </mat-card-title>
            <mat-card-subtitle>Login</mat-card-subtitle>

            <mat-card-content>
                <div>
                    <mat-form-field appearance="outline">
                        <mat-label>Username</mat-label>
                        <mat-icon matPrefix>account_circle</mat-icon>
                        <input matInput placeholder="Username" formControlName="Username" autocomplete="off" />
                    </mat-form-field>
                </div>

                <button mat-flat-button color="primary" type="submit" [disabled]="form.invalid || isLoading">
                    Log in
                </button>
            </mat-card-content>

            <mat-card-actions>
                <a mat-button routerLink="/signup">Don't have an account? Sign Up</a>
            </mat-card-actions>
        </mat-card>
    </form>
</section>