<app-navigation></app-navigation>

<section>
    <div class="articles" *ngIf="!isLoading && !emptyPosts">
        <article *ngFor="let post of posts">
            <mat-card>
                <mat-card-title>
                    {{post.Title}}
                </mat-card-title>
                <mat-card-subtitle>
                    {{post.AuthorName}}
                </mat-card-subtitle>

                <mat-card-actions>
                    <button *ngIf="isAuthorAndPostOwner(post.AuthorUID)" mat-button color="warn" (click)="handleDeletePost(post.PostUID)">
                        Delete
                    </button>
                    <a *ngIf="isAuthorAndPostOwner(post.AuthorUID)" mat-button color="accent" routerLink="/posts/{{post.PostUID}}/edit">
                        Edit
                    </a>
                    <a mat-button routerLink="/posts/{{post.PostUID}}">
                        Read
                    </a>
                </mat-card-actions>
            </mat-card>
        </article>
    </div>

    <div class="articles" *ngIf="!isLoading && emptyPosts">
        <h5>💩 no posts 💩</h5>
    </div>
</section>

<div *ngIf="isAuthor" class="create-post">
    <a mat-fab routerLink="/posts/new">
        <mat-icon>add</mat-icon>
    </a>
</div>