@import 'src/styles/variables';

section {
    height: calc(100% - 56px);
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    display: grid;
    justify-items: center;

    @media screen and (min-width: $lisa) {
        height: calc(100% - 64px);
    }
}

section .articles {
    display: flex;
    flex-direction: column;
    margin: 12px 0;

    article {
        width: 300px;
        margin: 12px 0;
    }
    
    @media screen and (min-width: $lisa) {
        article {
            width: 420px;
        }
    }
}

mat-card-actions {
    text-align: right;
}

mat-card-content {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.create-post {
    position: fixed;
    bottom: 24px;
    right: 24px;
}