<app-navigation></app-navigation>

<section>
    <article *ngIf="isLoading && !post">
        Loading...
    </article>

    <form *ngIf="!isLoading && post" [formGroup]="form" (ngSubmit)="handleSubmit()">
        <mat-card>
            <mat-card-title>
                Newsletter
            </mat-card-title>
            <mat-card-subtitle>Edit Post</mat-card-subtitle>

            <mat-card-content>
                <div>
                    <mat-form-field appearance="outline">
                        <mat-label>Title</mat-label>
                        <input matInput placeholder="Title" formControlName="Title" autocomplete="off" />
                    </mat-form-field>
                </div>

                <div>
                    <mat-form-field appearance="outline">
                        <mat-label>Content</mat-label>
                        <textarea matInput placeholder="Content" formControlName="Content"
                            autocomplete="off"></textarea>
                    </mat-form-field>
                </div>

                <button mat-flat-button color="primary" type="submit" [disabled]="form.invalid || isLoading">
                    Save
                </button>
            </mat-card-content>
        </mat-card>
    </form>

    <article *ngIf="!isLoading && hasErrored">
        <h5>💩 post not found 💩</h5>
    </article>
</section>