<app-navigation></app-navigation>

<section class="login">
    <form [formGroup]="form" (ngSubmit)="handleSubmit()">
        <mat-card>
            <mat-card-title>
                Newsletter
            </mat-card-title>
            <mat-card-subtitle>New Post</mat-card-subtitle>

            <mat-card-content>
                <div>
                    <mat-form-field appearance="outline">
                        <mat-label>Title</mat-label>
                        <input matInput placeholder="Title" formControlName="Title" autocomplete="off" />
                    </mat-form-field>
                </div>

                <div>
                    <mat-form-field appearance="outline">
                        <mat-label>Content</mat-label>
                        <textarea matInput placeholder="Content" formControlName="Content" autocomplete="off"></textarea>
                    </mat-form-field>
                </div>

                <button mat-flat-button color="primary" type="submit" [disabled]="form.invalid || isLoading">
                    Create
                </button>
            </mat-card-content>
        </mat-card>
    </form>
</section>