<mat-toolbar color="primary">
    <span class="fill-remaining-space">
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>menu</mat-icon>
        </button>

        <mat-menu #menu="matMenu" [overlapTrigger]="false">
            <button mat-menu-item (click)="handlePostsClick()">
                <mat-icon>description</mat-icon>
                <span>Posts</span>
            </button>
            <button mat-menu-item (click)="handleLogoutClick()">
                <mat-icon>exit_to_app</mat-icon>
                <span>Logout</span>
            </button>
        </mat-menu>
    </span>
    <span class="fill-remaining-space">Newsletter</span>
</mat-toolbar>