// Core
@import 'styles/core/reset';
@import 'styles/core/fonts';
@import 'styles/core/setup';

// Theme
@import 'styles/theme';

// Material UI
.mat-input-element {
    font-size: 1.4rem;
}

mat-form-field {
    width: 100%;   
}