:host {
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
}

form {
    width: 300px;
    margin: 0 auto;
}

button {
    width: 100%;
}

.user-types {
    margin-bottom: 12px;
}

.user-type {
    margin-bottom: 12px;
}