<section class="login">
    <form [formGroup]="form" (ngSubmit)="handleSubmit()">
        <mat-card>
            <mat-card-title>
                Newsletter
            </mat-card-title>
            <mat-card-subtitle>Signup</mat-card-subtitle>

            <mat-card-content>
                <div>
                    <mat-form-field appearance="outline">
                        <mat-label>Username</mat-label>
                        <mat-icon matPrefix>account_circle</mat-icon>
                        <input matInput placeholder="Username" formControlName="Username" autocomplete="off" />
                    </mat-form-field>
                </div>

                <div>
                    <mat-form-field appearance="outline">
                        <mat-label>First Name</mat-label>
                        <mat-icon matPrefix>account_circle</mat-icon>
                        <input matInput placeholder="First Name" formControlName="FirstName" autocomplete="off" />
                    </mat-form-field>
                </div>

                <div>
                    <mat-form-field appearance="outline">
                        <mat-label>Last Name</mat-label>
                        <mat-icon matPrefix>account_circle</mat-icon>
                        <input matInput placeholder="Last Name" formControlName="LastName" autocomplete="off" />
                    </mat-form-field>
                </div>

                <div class="user-types">
                    <mat-radio-group formControlName="UserType">
                        <div *ngFor="let userType of userTypes" class="user-type">
                            <mat-radio-button [value]="userType.value">
                                {{userType.label}}
                            </mat-radio-button>
                        </div>
                    </mat-radio-group>
                </div>

                <button mat-flat-button color="primary" type="submit" [disabled]="form.invalid || isLoading">
                    Sing Up
                </button>
            </mat-card-content>

            <mat-card-actions>
                <a mat-button routerLink="/login">Don't have an account? Log In</a>
            </mat-card-actions>
        </mat-card>
    </form>
</section>